[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/pauser"]
	path = lib/pauser
	url = git@github.com:Behodler/pauser.git
	branch = master
[submodule "lib/vault"]
	path = lib/vault
	url = git@github.com:Behodler/reflax-yield-vault.git
	branch = master
[submodule "lib/yield-claim-nft"]
	path = lib/yield-claim-nft
	url = git@github.com:Behodler/yield-claim-nft.git
	branch = master
[submodule "lib/phlimbo-ea"]
	path = lib/phlimbo-ea
	url = ../phlimbo-ea
